<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Semantic-UI-CSS-master/semantic.min.css">
    <link rel="stylesheet" href="/stylesheet/app.css">
    <title>Utang</title>
</head>
<div class="ui fixed inverted menu">
    <div class="ui container">
        <div class="header item"><i class="code icon"></i> KomZar</div>
        <a href="/" class="item">Home</a>
        <a href="/credit/new" class="item">New Utang</a>
        <div class="right menu">
            <div class='item'>
                <%if(!currentUser){%>
                <a href="/login" class="item">Login</a>
                <a href="/register" class="item">Register</a>
                <%}else{%>
                <a href="/" class="item">Signing in as <%=currentUser.username%></a>
                <a href="/logout" class="item">Logout</a>
                <%}%>
        </div>
    </div>



    </div>

</div>

<body>